<label for="rating" class="form-label mb-0">Min. Rating:</label>
                    <select name="rating" id="rating" class="form-select">
                        <option value="" {% if not rating_filter %}selected{% endif %}>Any</option>
                        <option value="5" {% if rating_filter == '5' %}selected{% endif %}>5 stars</option>
                        <option value="4" {% if rating_filter == '4' %}selected{% endif %}>4 stars & up</option>
                        <option value="3" {% if rating_filter == '3' %}selected{% endif %}>3 stars & up</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary w-100">Apply</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="alert alert-info" role="alert">
                <strong>Note:</strong> This application is for educational purposes only. Prices shown reflect NHS prices derived from OpenPrescribing NHS spending data, not retail prices. <br>
                <strong>Ratings:</strong> The ratings shown are randomly generated for demonstration purposes only and do not reflect any real clinical evaluation or user feedback.
            </div>
        </div>
    </div>
    <div class="alert alert-info mb-4 d-inline-block" role="alert" style="font-size: 1.15rem;">
        To see similar medicines, click the medicine name.
    </div>
    {% if medicines %}
        <div class="row g-4">
            {% for med in medicines %}
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title"><a href="{% url 'medicine_detail' med.pk %}" class="link-primary text-decoration-none">{{ med.medicine_name }}</a></h3>
                        <h6 class="card-subtitle mb-2 text-muted">({{ med.formula }})</h6>
                        <p class="mb-1"><strong>Dose:</strong> {{ med.dose }}</p>
                        <p class="mb-1"><strong>Manufacturer:</strong> {{ med.manufacturer }}</p>
                        <p class="mb-1"><strong>Price:</strong> £{{ med.price }}</p>
                        <p class="mb-1"><strong>Rating:</strong> {{ med.rating }}</p>
                        {% if med.emc_leaflet_url %}